 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}


body {
  line-height: 1;
  font-family: sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
    background: #555;
    color: #eee;
}

.App-header {
    border-bottom: 1px solid black;
    display: flex;
    background: #444;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}
ul {
    flex-direction: row;
    display: flex;
}

li {
  display: flex;
  margin: 0px;
  padding: 10px;
}

li a {
  text-decoration: none;
  background-color: #3c4baa;
  color: #eee;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #1e2d8c;

}

li a:hover {
  background-color: #3e6bad;
}

.news {
  padding: 20px 0px;
  border-radius: 10px;
  background-color: #444;
  width: 86%;
  margin: 10px auto;
}

.news-author{
  color: #aaf;
  font-size: 18px;
  padding: 5px 10px;
}

.news h2 {
  color: #eaa;
  font-size: 20px;
  padding: 5px 10px ;
}
.news-content {
    color: #eee;
    font-size: 16px;
    padding: 5px 10px;
}

.profile {
  padding: 20px 7%;
  font-size: 20px;
}

.login {
  padding: 35px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login button{
  margin: auto;
  margin-top: 20px;
  display: block;
  font-size: 16px;
  background-color: #e5ebf1;
  color: #55677d;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #1e2d8c;
}
.login button:hover {
  background-color: #d1d7dd;
}

.login label {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 14px;
  color: #eee;
}

.login label input {
  margin-left: 8px;
  padding: 2px;
  background-color: #eee;
}

.login p {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;
    color: #eaa;
}
